.body {
  display: flex;
  flex: 0 0 50%;
  justify-content: space-between;
  padding: 0 30px;
  cursor: pointer;
}

.item:hover {
  color: var(--green);
  background-color: var(--blue);
  border-color: var(--green);
  box-shadow: 27px 30px 15px rgb(0 0 0 / 12%);
  transform: translate(-10px, -10px);
}

.item {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: 2px solid #0064a1;
  background-color: #d7d5d5;
  border-radius: 10px;
  color: #062e85;
  transition: all 0.5s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
}
.name {
  font-size: 30px;
}
.poroda {
  font-size: 30px;
}

/*//.body {*/
/*//  display: flex;*/
/*//  flex-wrap: wrap;*/
/*//  padding: 0 30px;*/
/*//  flex: 1 1 50%;*/
/*//  cursor: pointer;*/
/*//}*/
