.body {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .title {
    font-size: 20px;
    margin-right: 30px;
  }
  .button {
    margin-right: 10px;
    font-size: 30px;
    background-color: transparent;
  }
}
