.body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.56);
}

@keyframes trans {
  0% {
    transform: translate(0, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.content {
  animation: trans 1s ease;
  padding: 30px;
  background-color: #fff;
  font-size: 30px;
  .toDay {
    font-size: 33px;
    border: 5px solid var(--blue);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
    div {
      margin-bottom: 30px;
    }
  }
}
.name {
  margin-bottom: 10px;
}
.class {
  margin-bottom: 10px;
}
.old {
  margin-bottom: 10px;
}
.height {
  margin-bottom: 10px;
}
.weight {
  margin-bottom: 10px;
}
